<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studentregister</title>
    <link href="stylsheet.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrap">
    <h1 class="centered_text">Studentregister</h1>
    <div class="centered_div centered_text">
        <h4>Fant ikke student</h4>
        <a href="StudentRegister.php">Tilbake</a>
    </div>
</div>
</body>
</html>